In [1]:
# 람다 함수 : 리스트 내포, 조건부 표현식 등과 같이 여러 줄의 코드를 간결하게 표현할 수 있게 도와줌
# lamda로 정의할 수 있고, def와 같은 역할
# 함수의 이름을 정의하지 않고, 일회성으로 간편하게 사용할때 유용
# def로 정의할만큼 복잡하지 않을때 활용(익명함수)
def add(a,b):
    return a+b
result = add(3,4)
print(result)

7

In [7]:
add = lambda a, b: a+b
result = add(3,4)
print(result)

7

In [13]:
# 따로 변수에 할당하지 않고 바로 한 줄로 표현 가능 
print((lambda a,b:a+b)(3,4))

7

In [23]:
# 기본 매개변수와 람다
print((lambda a,b=1:a+b)(3))
# 키워드 매개변수와 람다
print((lambda a,b:a+b)(b=1,a=3))
# 가변 매개변수와 람다
print((lambda a, *b:a*b)(3,3,4,5))

4
4
(3, 4, 5, 3, 4, 5, 3, 4, 5)

In [29]:
# 조건문과 함께 사용 가능
print((lambda a,b:a if a%2 ==0 else b)(1,3))
# 동일한 코드를 기본 함수로 작성시 
def func(a,b):
    if a%2==0:
        return a
    else:
        return b
print(func(1,3))

3
3

In [31]:
# 람다 함수 활용
# map 내장 함수와 함께 활용
# 시퀀스 자료형이 지닌 각 요소 값들에 대해 함수에 적용한 요소를 지닌 map 객체로 반환
def func(x):
    return x*x
a = [1,2,3,4,5]
b = map(func,a)
print(type(b))
print(list(b))

<class 'map'>
[1, 4, 9, 16, 25]

In [33]:
# 기본 함수로 작성한 경우 
def func(x):
    return x*x
a = [1,2,3,4,5]
b = []
for x in a:
    y = func(x)
    b.append(y)
print(b)

[1, 4, 9, 16, 25]

In [37]:
print(list(map(lambda x:x*x, [1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [39]:
# filter 내장 함수와 함께 활용
# 시퀀스 자료형이 지닌 각 요소 값들에 대해 함수에 적용한 결과가 참인 원소값만을 지닌 filter 객체 반환
def func(x):
    return x>2
a = [1,2,3,34]
b = []
for x in a:
    if func(x):
        b.append(x)
print(b)

[3, 34]

In [41]:
def func(x):
    return x>2

a = [1,2,3,34]
b = []
print(list(filter(func,a)))

[3, 34]

In [45]:
print(list(filter(lambda x: x>2, [1,2,3,34])))

[3, 34]

In [49]:
# 복잡한 객체를 정렬할 때 활용
students = [
    ('영수', 'A', 15),
    ('철수', 'B', 16),
    ('영희', 'C', 10)
]
print(sorted(students))
print(sorted(students, key=lambda x:x[1]))
print(sorted(students, key=lambda x:x[2]))

[('영수', 'A', 15), ('영희', 'C', 10), ('철수', 'B', 16)]
[('영수', 'A', 15), ('철수', 'B', 16), ('영희', 'C', 10)]
[('영희', 'C', 10), ('영수', 'A', 15), ('철수', 'B', 16)]

In [51]:
# 문자열 포맷팅과 함께 활용
print((lambda x,y:'{} x {} = {}'.format(x,y,x*y))(3,4))

3 x 4 = 12

In [4]:
# 재귀함수 : 자기 자신을 호출하는 함수
# 일정기간 반복하여 자기 자신을 호출할 경우 오류 발생 -> 종료 조건이 필요함
# 팩토리얼 실습 : 1부터 n까지의 곱셈의 결과 
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)
    
print(factorial(15))

1307674368000

In [6]:
# 람다 함수는 함수명이 없기 때문에 변수에 저장하여 활용
fact = lambda x : x == 0 and 1 or x * fact(x-1)
print(fact(5))

120

In [12]:
# 구구단 출력 실습
# 다음 코드를 람다 함수와 리스트 내포를 활용해 한 줄로 작성
l = []
for i in range(2,10):
    for j in range(1,10):
        l.append("{} X {} = {}".format(i,j,i*j))
print(l)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81']

In [16]:
print([x * y for x in range(2,10) for y in range(1,10)])
def func(a,b):
    return "{} X {} = {}".format(a,b,a*b)
print(func(3,4))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
3 X 4 = 12

In [18]:
print((lambda x,y: '{} X {} = {}'.format(x,y,x*y))(3,4))

3 X 4 = 12

In [20]:
print([(lambda x,y:'{} X {} = {}'.format(x,y,x*y))(x,y)for x in range(2,10) for y in range(1,10)])

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81']

In [22]:
# 1. 한 줄의 람다 함수로 변경
def func(a):
    if a > 10:
        return 'a가 10보다 크다'
    else:
        return 'a가 10보다 작다'
print(func(14))

a가 10보다 크다

In [24]:
print((lambda a:'a가 10보다 크다'if a>10 else 'a가 10보다 작다')(14))

a가 10보다 크다

In [46]:
# 2. map 함수와 람다 함수 활용
# 다음의 코드를 map함수와 람다 함수를 활용하여 한줄의 코드로 변경하기
def func(a):
    l = []
    for i in range(a):
        l.append(i**2)
    return l
print(func(5))

[0, 1, 4, 9, 16]

In [44]:
print(list(map((lambda a: a**2),range(5))))

[0, 1, 4, 9, 16]